:root {
   --color-white: #ffffff;
   --color-lightgray: #D9D9D9;
   --color-gray: #bebebe;
   --color-darkgray: #545454;
   --color-lightestblue: #BAE4FD;
   --color-lightblue: #5B88BC;
   --color-blue: #14447B;
   --color-darkblue: #082245;
   --color-aqua: #90E0EF;
}

* {
   box-sizing: border-box;
}

body {
    height: 100vh;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--color-darkblue)
}

h2 {
   font-size: 2rem;
   font-family: 'Open Sans', sans-serif;
   color: var(--color-darkblue);
}

a {
   font-size: 2rem;
   font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
}

@media screen and (max-width: 30rem) {
   h1 {
      font-size: 3rem;
   }
   
   h2 {
      font-size: 1rem;
   }

   a {
      font-size: 1rem;
   }

   p {
      font-size: 0.75rem;
   }
}

 /*header*/

 .header nav {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   background-color: var(--color-darkgray);
   padding: 1rem 2rem;
 }


 /* .header .menu-button {
   cursor: pointer;
   display: none;
 }
 
 .header .menu-button .bar {
   width: 2rem;
   height: 0.25rem;
   background-color: var(--color-darkblue);
   margin: 0.5rem 0;
   transition: 0.5s;
 }

 .header .nav-links {
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

 @media screen and (max-width: 40rem) {
   .menu-button {
     display: block;
   }
 
   .header .nav-links {
     display: none;
     flex-direction: column;
     width: 100%;
     position: absolute;
     top: 100rem; 
     right: 0;
     background-color: var(--color-darkgray);
   }
 
   .nav-links a {
     padding: 1rem;
   }
 } */

 /* .header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
} */

.header a img {
    width: 60%;
    justify-content: center;
    fill: var(--color-lightestblue);
}

.header a {
    color: var(--color-white);
    text-decoration: none;
    padding: 1rem 3rem;
    justify-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: light;
}

.header .nav-links a.h-logo {
   display:grid;
   grid-column: 1;
   grid-row: 1;
   padding: 0.5rem 0;
}

.header .nav-links a.h-products {
   display:grid;
   grid-column: 3 / span 2;
   grid-row: 1;
}

.header .nav-links a.h-pricing {
   display:grid;
   grid-column: 5 / span 2;
   grid-row: 1;
}

.header .nav-links a.h-faq {
   display:grid;
   grid-column: 7 / span 2;
   grid-row: 1;
}

.header .nav-links a.h-os {
   display:grid;
   grid-column: 9 / span 2;
   grid-row: 1;
}

.header .nav-links a.h-newsletter {
   display:grid;
   grid-column: 11 / span 2;
   grid-row: 1;
}

@media screen and (max-width: 30rem) {
   .header .nav-links a.h-logo {
      display:none;
   }
   
   .header .nav-links a.h-products {
      display:none;
   }
   
   .header .nav-links a.h-pricing {
      display:none;
   }
   
   .header .nav-links a.h-faq {
      display:none;
   }
   
   .header .nav-links a.h-os {
      display:none;
   }
   
   .header .nav-links a.h-newsletter {
      display:none;
   }
}

 /*hero*/
.hero .hero-img{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
 .hero .hero-img img  {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
    height: 45rem;
    object-fit: cover;
 }

 .hero .hero-img h1 {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    color: var(--color-lightestblue);
    text-transform: lowercase;
    font-size: 6rem !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
 }

 @media screen and (max-width: 30rem) {
   .hero .hero-img h1 {
      font-size: 4rem !important;
      padding: 0 1rem;
   }
   
 }

 .hero .banner {
    background-color: var(--color-darkblue);
    overflow: hidden;
    color: var(--color-white);
    padding: 1rem 0;
    overflow: hidden;
 }

 .hero .banner p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    text-transform: uppercase;
 }

 /* @keyframes scroll {
   0% {
     transform: translateX(100%);
   }
   100% {
     transform: translateX(calc(var(--offset) * -1px));
   }
 } */

 /*products*/

 .our-products {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    padding: 2rem;
    margin: 0 3rem;
 }

 @media screen and (max-width: 30rem) {
   .our-products {
      padding: 1rem;
      margin: 0 0.5rem;
   }
 }

 .our-products .our-products-heading h1 {
    grid-row: 1;
    margin: 0;
    padding: 1rem;
 }

 .our-products .blades {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 2rem;
    padding: 1rem;
 }

 @media screen and (max-width: 30) {
   .our-products .blades {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 0.5rem;
      padding: 0.5rem;
   }
 }

 .our-products .blades h2 {
   font-weight: 500;
   text-transform: uppercase;
   margin: 0;
   padding: 0;
   line-height: 1;
 }

 .our-products .blades p {
   font-weight: 400;
   margin: 0;
   padding: 1rem;;
 }

 .our-products .blades img {
    height: 20rem;
    text-align: center;
 }

 .our-products .blades .blade-1-img {
   grid-column: 1;
   grid-row: 2;
   text-align: center;
 }

 .our-products .blades .blade-1-text {
    grid-column: 1;
    grid-row: 1;
 }

 .our-products .blades .blade-2-img {
   grid-column: 2;
   grid-row: 2;
   text-align: center;
 }

 .our-products .blades .blade-2-text {
    grid-column: 2;
    grid-row: 1;
 }

 .our-products .blades .blade-3-img {
   grid-column: 3;
   grid-row: 2;
   text-align: center;
 }

 .our-products .blades .blade-3-text {
    grid-column: 3;
    grid-row: 1;
 }

 .our-products .blades .blade-4-img {
   grid-column: 4;
   grid-row: 2;
   text-align: center;
 }

 .our-products .blades .blade-4-text {
    grid-column: 4;
    grid-row: 1;
 }

 .our-products .blades .blade-5-img {
   grid-column: 5;
   grid-row: 2;
   text-align: center;
 }

 .our-products .blades .blade-5-text {
    grid-column: 5;
    grid-row: 1;
 }

 .our-products .blades .blade-6-img {
   grid-column: 6;
   grid-row: 2;
   text-align: center;
 }

 .our-products .blades .blade-6-text {
    grid-column: 6;
    grid-row: 1;
 }

 @media screen and (max-width: 30rem) {
   .our-products .blades img {
      height: 8rem;
      text-align: left;
      transform: rotate(90deg);
   }
  
   .our-products .blades .blade-1-img {
     grid-column: 1;
     grid-row: 1;
     text-align: center;
   }
  
   .our-products .blades .blade-1-text {
      grid-column: 2;
      grid-row: 1;
   }
  
   .our-products .blades .blade-2-img {
     grid-column: 1;
     grid-row: 2;
     text-align: center;
   }
  
   .our-products .blades .blade-2-text {
      grid-column: 2;
      grid-row: 2;
   }
  
   .our-products .blades .blade-3-img {
     grid-column: 1;
     grid-row: 3;
     text-align: center;
   }
  
   .our-products .blades .blade-3-text {
      grid-column: 2;
      grid-row: 3;
   }
  
   .our-products .blades .blade-4-img {
     grid-column: 1;
     grid-row: 4;
     text-align: center;
   }
  
   .our-products .blades .blade-4-text {
      grid-column: 2;
      grid-row: 4;
   }
  
   .our-products .blades .blade-5-img {
     grid-column: 1;
     grid-row: 5;
     text-align: center;
   }
  
   .our-products .blades .blade-5-text {
      grid-column: 2;
      grid-row: 5;
   }
  
   .our-products .blades .blade-6-img {
     grid-column: 1;
     grid-row: 6;
     text-align: center;
   }
  
   .our-products .blades .blade-6-text {
      grid-column: 2;
      grid-row: 6;
   }
 }

 /*full length img 1*/

 .full-length-image-1 video {
    width: 100%;
    object-fit: cover;
    height: 45rem;
 }

 @media screen and (max-width: 30rem) {
   .full-length-image-1 video {
      height: 15rem;
      object-fit: cover;
   }
 }

 /*pricing*/

 .pricing-chart {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 2rem 5rem;
    list-style: none;
    background-color: var(--color-lightblue);
 }

 @media screen and (max-width: 30rem) {
   .pricing-chart {
      padding: 1rem;
   }
 }

 .pricing-chart h1 {
   margin: 0;
   padding: 0;
 }

 .pricing-chart .pricing-chart-deets {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 1rem;
    padding: 1rem;
    grid-gap: 1rem;
    text-align: center;
 }

 @media screen and (max-width: 30rem) {
   .pricing-chart .pricing-chart-deets {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      margin: 0 0.5rem;
      padding: 1rem;
   }
 }

 .pricing-chart .pricing-chart-deets h2 {
   margin: 0;
   padding: 0.25rem;
   line-height: 1;
 }

 .pricing-chart .pricing-chart-deets .monthly h2.type {
   font-size: 1.25rem;
   padding: 0.25rem;
   margin: 0;
 }

 .pricing-chart .pricing-chart-deets .single-types h2.type {
   font-size: 1.25rem;
   padding: 0.25rem;
   margin: 0;
 }

 .pricing-chart .pricing-chart-deets .yearly h2.type {
   font-size: 1.25rem;
   padding: 0..25rem;
   margin: 0;
 }

 @media screen and (max-width: 30rem) {
   .pricing-chart .pricing-chart-deets .monthly h2.type {
      font-size: 1rem;
    }
   
    .pricing-chart .pricing-chart-deets .single-types h2.type {
      font-size: 1rem;
    }
   
    .pricing-chart .pricing-chart-deets .yearly h2.type {
      font-size: 1rem;
    }
 }

 .pricing-chart .pricing-chart-deets li {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .pricing-chart .pricing-chart-deets ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 /* .pricing-chart .pricing-chart-deets .money-1 {
   display: grid;
   grid-column: 1;
   grid-row: 1;
 }

 .pricing-chart .pricing-chart-deets .money-1 img {
   display: grid;
   width: 50%;
   justify-content: center; */
 /* } */

 /* .pricing-chart .pricing-chart-deets .subscriptions {
    grid-column: 3;
    grid-row: 1;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
 } */

 .pricing-chart .pricing-chart-deets .monthly {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--color-gray);
    padding: 1rem;
 }

 .pricing-chart .pricing-chart-deets .yearly {
    grid-column: 2;
    grid-row: 1;
    background-color: var(--color-lightgray);
    padding: 1rem;
 }

 .pricing-chart .pricing-chart-deets .single-types {
    grid-column: 3;
    grid-row: 1;
    background-color: var(--color-gray);
    padding: 1rem;
 }
 @media screen and (max-width: 30rem) {
   .pricing-chart .pricing-chart-deets .monthly {
      grid-column: 1;
      grid-row: 1;
      background-color: var(--color-gray);
      padding: 1rem;
   }
  
   .pricing-chart .pricing-chart-deets .yearly {
      grid-column: 1;
      grid-row: 2;
      background-color: var(--color-lightgray);
      padding: 1rem;
   }
  
   .pricing-chart .pricing-chart-deets .single-types {
      grid-column: 1;
      grid-row: 3;
      background-color: var(--color-gray);
      padding: 1rem;
   }
 }
 /* .pricing-chart .pricing-chart-deets .money-2 {
   display: grid;
   grid-column: 4;
   grid-row: 1;
 } */

 /* .pricing-chart .pricing-chart-deets .money-2 img {
   display: grid;
   width: 50%;
   justify-content: center;
   align-self: center;
 } */

 /*full length img 2*/

 .full-length-image-2 {
    width: 100%;
    height: 100vh;
    background-image: url('../img/full-length-img-2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

 @media screen and (max-width: 30rem) {
   .full-length-image-2 {
      height: 20rem;
   }
 }

 /*faq*/

 .faq {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 2rem;
    margin: 0 3rem;
 }

 @media screen and (max-width: 30rem) {
   .faq {
      padding: 1rem;
      margin: 0 .5rem;
   }
 }

 .faq .questions {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3rem;
    padding: 1rem;
 }

 @media screen and (max-width: 30rem) {
   .faq .questions {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-gap: 1rem;
      padding: 1rem;
   }
 }

 .faq .questions h2 {
    margin: 0;
    text-transform: uppercase;
 }

 .faq .questions p {
   margin: 0;
   padding: 0;
 }
 /*our story*/

 .our-story {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2rem 5rem;
    background-color: var(--color-lightblue);
    color: var(--color-white);
 }

 @media screen and (max-width: 30) {
   .our-story {
      padding: 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
   }
 }

 .our-story h1 {
   margin: 0;
   padding: 1rem;
 }

 .our-story p {
   margin: 0;
   padding: 0 1rem;
   padding-bottom: 1rem;
 }
 
 .our-story .os-text {
   display: grid;
   grid-column: 1;
   grid-row: 1;
 }

 .our-story .os-img {
   display:grid;
   grid-column: 2;
   grid-row: 1;
 }
 /* .our-story .os-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 4rem;
    padding: 1rem;
 }

 .our-story .os-content .os-text {
    grid-column: 1;
    grid-row: 1;
 }

 .our-story .os-content .os-img {
    grid-column: 2;
    grid-row: 1;
 } */

 .our-story .os-img img {
   display: grid;
   width: 50%;
   justify-self: center;
   align-self: center;
   margin-left: auto;
   margin-right: auto;
 }

 @media screen and (max-width: 30rem) {
   .our-story .os-img {
      grid-row: 2;
      grid-column: 1;
      width: 100%;
   }
 }
 /*newsletter*/

 .call-to-action {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 1rem;
    margin: 0 3rem;
 }

 @media screen and (max-width: 30rem) {
   .call-to-action {
      padding: 1rem;
      margin: 0 .5rem;
   }
   
 }

 .call-to-action h1 {
   margin: 0;
   padding: 1rem;
   line-height: 1;
 }

 .call-to-action h2 {
   margin: 0;
   padding: 1rem;
   text-transform: uppercase;
 }

 @media screen and (max-width: 30rem) {
   .call-to-action h2 {
      margin: 0 0.5rem;
      padding: 0 1rem;
   }
   
 }

 .call-to-action .cta-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 1rem;
    grid-gap: 2rem;
 }

 @media screen and (max-width: 30rem) {
   .call-to-action .cta-content{
      padding: 0 1rem;
      grid-gap: 1rem;
   }
   
 }

 .call-to-action .cta-content .find-us {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
 }

 .call-to-action .cta-content .find-us .stores {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 1rem;
    margin: 0 3rem;
    grid-gap: 2rem;
 }

 @media screen and (max-width: 30rem) {
   .call-to-action .cta-content .find-us .stores {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      margin: 0 0.5rem;
      grid-gap: 1rem;
      margin: 0 1rem;
   }
 }

 .call-to-action .cta-content .find-us .stores .mickeys {
    grid-column: 2;
    grid-row: 1;
    width: 80%;
    justify-self: center;
    align-self: center;
 }

 .call-to-action .cta-content .find-us .stores .tarjet {
    grid-column: 1;
    grid-row: 1;
    width: 80%;
    justify-self: center;
    align-self: center;
 }

 .call-to-action .cta-content .find-us .stores .walmart {
    grid-column: 3;
    grid-row: 1;
    width: 80%;
    justify-self: center;
    align-self: center;
 }

 @media screen and (max-width:30rem) {
   .call-to-action .cta-content .find-us .stores .mickeys {
      grid-column: 1;
      grid-row: 1;
      width: 85%;
      justify-self: center;
      align-self: center;
   }
  
   .call-to-action .cta-content .find-us .stores .tarjet {
      grid-column: 1;
      grid-row: 2;
      width: 85%;
      justify-self: center;
      align-self: center;
   }
  
   .call-to-action .cta-content .find-us .stores .walmart {
      grid-column: 1;
      grid-row: 3;
      width: 85%;
      justify-self: center;
      align-self: center;
   }
 }

 .call-to-action .cta-content .newsletter-cta form {
    text-align: center;
 }

 .form-input label {
    position: absolute;
    left: -99999px;
    color: var(--color-lightgray);
  }
  
  .form-input input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--color-gray);
  }
  
  .form-input button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border:0;
    background-color: var(--color-aqua);
  }

  .hide {
    display: none;
  }
 /*footer*/
.footer {
    background-color: var(--color-darkgray);
    padding: 1rem;
    width: 100%;
}

.footer {
   text-align: center;
   text-decoration: none;
   padding: 1rem;
}

.footer nav a{
    color: var(--color-white);
}

.footer a {
    color: var(--color-white);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}